* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.header-style {
  height: 65px;
}
form input {
  border-radius: 5px;
  border: 1px solid rgb(4, 190, 223);
  text-indent: 5px;
}
.dummy-img {
  /* height: 21.25rem !important; */
  /* height: 25% !important; */
  object-fit: contain;
}
.bottom,
.top {
  left: 50%;
  transform: translateX(-50%);
}
.top {
  top: 15%;
}
.bottom {
  bottom: 15%;
}
